modules = ["nodejs-23"]
run = "npm run start"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Run"
author = 43463236
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Dev Server"
author = 43463236
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node start-dev.js"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
